.chat {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 16px 24px;

  &-head {
    display: flex;

    &-assistant {
      flex: 1;
    }

    &-tools {
      margin-left: auto;

      button {
        margin-left: 8px;
      }
    }
  }

  &-body {
    flex: 1 1 auto;
  }

  &-controls {
    margin-top: auto;
    padding: 10px 0;
    display: flex;

    &-input {
      flex: 1 0 auto;
    }

    &-items {
      margin-left: 8px;
      flex: 0 0 auto;
    }
  }
}
