.team {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-title {
    padding: 0 16px;
    opacity: 0.33;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 16px;
    margin-left: 12px;
  }

  &-list {
    flex: 1 1 auto;
    overflow: auto;
    padding: 0 12px;
  }


  &-create {
    flex: 0 0 auto;
    padding: 24px 16px;
  }

}